.o_social_preview_message {
    .o_highlight {
        color: blue;
    }
}
.o-social-NavigableList-item {
    img {
        max-width: 40px;
        max-height: 40px;
    }
}
.o_social_mention_option_description {
    max-height: $o-line-size * 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.o_social_post_message_field {
    height: 100px;
    padding-right: 0 !important;

    .o_field_input_buttons {
        // show the button under the text area
        position: initial !important;
        width: 50%;
        height: 30px;
        visibility: visible;
        display: inline-flex;
        justify-content: flex-end !important;

        a {
            pointer-events: initial !important;
        }
    }

    .o_social_exceed_count {
        color: red !important;
    }

    .o_field_social_count {
        font-size: 12px;
    }
}
