.o_sign_thankyou_dialog {
    #thank-you-subtitle {
        text-align: center;
    }

    .o_thankyou_message {
        text-align: center;
        white-space: pre-line;
    }

    .o_next_document_button {
        padding: 4px 16px;
    }

    .next-document {

        .o_thankyou_next_sign,
        .o_thankyou_next_view {
            padding: 6px 16px;
        }

        .text-normal {
            white-space: normal;
            word-break: break-word;
            line-height: 1.35;
        }
    }
}
