.o-threads-side-panel{
    .o-thread-item{
        padding: 4px 8px;
        &.selected{
            padding: 3px 7px;
            background-color: var(--os-gray-200);
            border: 2px solid var(--os-action-color) !important;
        }
    }
}
