.o_appointment_calendar_event_popover {
    max-width: 450px;
    min-width: 300px;
    width: auto;

    @for $index from 1 through length($o-web-calendar-colors) {
        .o_appointment_calendar_event_popover_header_color_#{$index - 1}{
            $-calendar-colors-map: nth($o-web-calendar-colors, $index);
            background-color: map-get($-calendar-colors-map, "popover-background-color");
            color: map-get($-calendar-colors-map, "popover-color");
        }
    }

    .o_appointment_calendar_event_popover_html_field {
        overflow-y: overlay;
    }

    .o_appointment_calendar_event_popover_videocall_location_field {
        max-width: 17em;
    }
}
