.o-DocumentsFileViewer-main {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.o-DocumentsFileViewer-main-with-chatter {
    // Aside + its `me-3` gutter + a matching gap on this side.
    width: calc(100vw - #{$o-mail-Chatter-minWidth} - 20px - #{map-get($spacers, 3) * 2}) !important;
}

.o-DocumentsFileViewer-main-without-chatter {
    width: 100vw  !important;
}
