.o_view_nocontent {
    .o_view_nocontent_voip_bg_shape {
        --#{$prefix}bg-opacity: .7;

        inset: 0;
    }

    .o_view_nocontent_voip_number_bg {
        mask: url('/voip/static/src/img/voip_nocontent_bg_shape_1.svg') center/contain no-repeat;
    }

    .o_view_nocontent_voip_provider_bg {
        mask: url('/voip/static/src/img/voip_nocontent_bg_shape_2.svg') center/contain no-repeat;
    }

    .o-voip-NoContentSoftphone:hover {
        background-color: $o-gray-300;
    }

    .o_nocontent_help:has(.o_voip_call_flow_sample) {
        width: 90%;
        max-width: 1100px;
    }

    .o_voip_call_flow_sample {
        pointer-events: none;

        img {
            width: 100%;
            opacity: .35;
        }
    }
}
