.o_suggestions_suggestion, .o_field_aw_rule_type_selection, .o_field_selection_menu {
    .text-amber {
        color: #F5A623 !important;
    }

    .text-hot-pink {
        color: #FF5E7E !important;
    }

    .text-dark-lavender {
        color: #8338EC !important;
    }

    .text-sky-blue {
        color: #1F78B4 !important;
    }

    .text-chartreuse {
        color: #8AC926 !important;
    }

    .text-crimson {
        color: #E6194B !important;
    }

    .text-meadow-green {
        color: #3CB44B !important;
    }

    .text-persimmon {
        color: #F15A24 !important;
    }
}
