.o_knowledge_sidebar {
    .o_section {
        .o_section_header_label {
            &:hover {
                font-weight: $font-weight-bold;
            }
        }
        .o_section .o_tree {
            min-height: 2rem;
        }
        .o_knowledge_empty_info {
            font-size: 12px;
        }
    }

    section.o_section:last-of-type {
        padding-bottom: var(--knowledge-last-section-pb, #{map-get($spacers, 3)});
    }

    .o_section_create, .o_knowledge_join_article_members {
        width: var(--knowledge-sidebar-icon-size);
        height: var(--knowledge-sidebar-icon-size);
        flex: 0 0 var(--knowledge-sidebar-icon-size);

        &:hover {
            background-color: rgba($knowledge-bg--hover, 0.3);
        }
        &:active {
            background-color: rgba($knowledge-bg--hover, 0.8);
        }
    }
}
