.o_payslip_notebook {
  position: relative;
}

@media (min-width: 768px) {
  .o_payslip_notebook .o_payslip_show_all_toggle {
    position: absolute;
    top: 0;
    right: 0.5rem;
  }
}

.radio_grid > div {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
}

.payroll-payrun-highlight td.text-danger {
    background-color: rgba($o-danger, 0.15);
}

.payroll-payrun-highlight td.text-success {
    background-color: rgba($o-success, 0.15);
}

.o_gantt_view .o_content:has(> .o_payrun_chatter_container) {
    display: grid !important;
    grid-template-rows: auto 1fr;

    > .o_payrun_chatter_container {
        grid-column: 2;
        grid-row: 1 / -1;
    }
}
