.o_hr_referral_intro_carousel{
    grid-template-columns: 100%;
    grid-template-rows: 33% 50% 16%;
    grid-template-areas:
        "header"
        "inner"
        "outer";
    .carousel-header {
        grid-area: header;

        .o_hr_referral_logo {
            max-width: 100px;
        }
    }
    .carousel-inner {
        grid-area: inner;

        .o_hr_referral_carousel_item_wrapper {
            grid-template-rows: 60% 40%;
        }

        .o_hr_referral_carousel_item_text {
            font-family: $subHeaderFont;
            min-height: 130px;

            @include media-breakpoint-up(lg) {
                max-width: 500px;
            }
        }
    }

    .carousel-outer {
        grid-area: outer;

        .carousel-indicators {
            li {
                width: 10px;
                height: 10px;
                background-color: #FFFFFF;
            }
        }
    }
}
.o_onboarding_list_img img {
    --o-onboarding-img-max-height: 12rem;
}

.o_onboarding_form_img,
.o_onboarding_list_img {
    img {
        background-color: transparent !important;
        max-height: var(--o-onboarding-img-max-height, 6rem);
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
