.o_agent_choice_card {
    min-height: 180px;

    .card-body {
        background: linear-gradient(to right, $card-bg, rgba($card-bg, .95));
        border-radius: inherit;
    }

    &:hover {
        background: $o-action;
        border-radius: inherit;
    }

    .o_agent_choice_card_icon {
        &.oi {
            font-size: 48px;
            line-height: 48px;
        }
    }

    .o_agent_choice_card_image {
        max-width: 64px;
        max-height: 64px;
        object-fit: contain;
    }

    .o_agent_choice_card_title {
        font-size: 0.9rem;
        line-height: 1.3;
    }
}
