.o_knowledge_body {
    h1, h2, h3, h4, h5, h6 {
        border-radius: $border-radius;
        transition: background-color 0.5s ease;

        &.o-highlight-heading {
            background-color: rgba(#1ba1e4, 0.2);
        }
    }
}
