.o_nocontent_help.o_view_nocontent_sale_commission_diagram {
	max-width: none;
}

// RTL
@include media-breakpoint-up(md) {
	.o_view_nocontent_sale_commission_diagram .o_commission_steps {
		/*rtl:ignore*/
		flex-direction: row;
	}
}

.o_commission_arrow {
	display: flex;
}

// Point the arrow downwards on mobile.
@include media-breakpoint-down(md) {
	.o_commission_arrow {
		flex-direction: column;

		.oi[data-icon] {
			/*rtl:ignore*/
			transform: rotate(90deg);
		}
	}
}
