.o_kanban_renderer {
    --Kanban-background: transparent;
    --KanbanRecord-margin-v: 0;
    --KanbanRecord-margin-h: 0;

    .o_dragged {
        --KanbanGroup-background: #{$o-webclient-background-color};
    }

    &.o_kanban_ungrouped {
        @include media-breakpoint-up(md) {
            --Kanban-padding: 0 #{map-get($spacers, 3)} #{map-get($spacers, 3)};
            --Kanban-gap: #{$o-kanban-record-margin * 2};
        }

        .o_search_panel_resize + &, .o_search_panel_sidebar + & {
            --Kanban-padding: 0 #{map-get($spacers, 3)} #{map-get($spacers, 3)} 0;
        }
    }
}
