.o_kanban_header {
    transition: padding .2s ease-in-out; // $transition-base duration & bezier

    :where(.o_kanban_group:not(.o_dragged)) & {
        box-shadow: inherit;
    }

    &.o_kanban_header_sticky {
        .o_kanban_renderer .o_kanban_group:not(.o_column_folded) & {
            &:after {
                content: "";
                position: absolute;
                inset: 0;
                mask: linear-gradient(white, white 80%, transparent);
                background: linear-gradient(to bottom, $o-webclient-background-color 0%, rgba($o-webclient-background-color, .75) 80%, transparent 100%);
                backdrop-filter: var(--o-backdrop-blur);
                z-index: -1;
            }
        }
    }
}
