// = Main Navbar
// ============================================================================
.o_main_navbar {
    --NavBar-entry-color--active: #{$o-component-active-color};
    --NavBar-entry-borderColor-active: #{$o-component-active-border};
    --NavBar-entry-backgroundColor--active: #{$o-component-active-bg};
    --NavBar-entry-backgroundColor--hover: #{$o-gray-200};
    --NavBar-entry-backgroundColor--focus: #{$o-gray-200};

    .o_menu_toggle {
        color: var(--NavBar-menuToggle-color, #{$o-brand-odoo});
    }

    .o_user_menu {
        --Navbar-entry-margin: #{-$btn-padding-y};
        --Navbar-entry-height: auto;
    }
}

// Ensuring SuperUser Design menu is not compressed in Enterprise
// ============================================================================
body.o_is_superuser .o_menu_systray {
    border-image-outset: map-get($border-widths, 5);
}


// Specific styles for home menu background
:where(.o_home_menu_background) .o_menu_systray {
    .o_nav_entry, .dropdown-toggle:where(:not(:disabled)) {
        &:hover {
            background: rgba($black, 0.1);
        }
    }
}

