.o_voip_time_condition_period_autocomplete {
    min-height: 2.25rem;
}

.o_voip_time_condition_period_autocomplete_menu {
    min-width: 15rem;

    .o_voip_time_condition_period_autocomplete_actions {
        cursor: default;
    }

    .o_voip_time_condition_period_autocomplete_options {
        max-height: 20rem;
        overflow-y: auto;
    }
}

.o_voip_time_condition_date_fields {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: $o-horizontal-padding;
    margin-bottom: map-get($spacers, 2);
}

.o_voip_time_condition_date_field {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    align-items: start;
    gap: $o-horizontal-padding;

    .o_field_widget {
        min-width: 0;
    }

    label {
        display: flex;
        align-items: center;
        min-height: 2.25rem;
        margin-bottom: 0;
    }
}

.o_voip_time_condition_week_days {
    .o_wrap_label {
        align-self: start;
    }

    .o_form_label {
        line-height: 2.25rem;
    }
}

.o_voip_time_condition_hours {
    label {
        display: flex;
        align-items: center;
        min-height: 2.25rem;
        margin-bottom: 0;
    }

    > .o_field_widget {
        display: flex;
        align-items: center;
        flex: 0 0 8rem;
        min-height: 2.25rem;
        margin-bottom: 0 !important;
    }
}
