///
/// Odoo Dark-Mode
///
///

// = Colors
// ============================================================================

$o-white: #000 !default;
$o-black: #FFF !default;

$o-gray-100: #1F1F23 !default;
$o-gray-200: #2C2E35 !default;
$o-gray-300: #3E3F47 !default;
$o-gray-400: #56575E !default;
$o-gray-500: #6E6F77 !default;
$o-gray-600: #88898F !default;
$o-gray-700: #B3B4B8 !default;
$o-gray-800: #D1D1D3 !default;
$o-gray-900: #EBEBEB !default;

$o-enterprise-color: #92427d !default;
$o-brand-primary: $o-enterprise-color !default;
$o-enterprise-action-color: #1CBCB1 !default;

$o-success: #22b053 !default;
$o-info: #71ADEA !default;
$o-warning: #e39c50 !default;
$o-danger: #cb2f2f !default;
$o-action: $o-enterprise-action-color !default;
$light: $o-gray-300 !default;
$dark: $o-gray-700 !default;

$o-colors-original: #a2a2a2, #ee2d2d, #dc8534, #8c700e, #5794dd, #986497, #db8865,
#008278, #304be0, #ee2f8a, #009345, #9872e6 !default;

$o-colors: ()!default;

@each $-color in $o-colors-original {
    $-adjusted: saturate(mix($-color, $o-black, 80%), 65%);
    $o-colors: append($o-colors, $-adjusted);
}

// Tag and badge palette
$o-colors-border:
    #b1b1b1, #f8907e, #ee9b56, #d1ad41,
    #37c2ef, #d396e6, #d1a888, #1ccbc2,
    #86b1fd, #f28db4, #75c77f, #b0a2fd
    !default;
$o-colors-bg-subtle:
    #2e2e2e, #58271f, #542d06, #392c02,
    #043e50, #3d2046, #463324, #04413e,
    #172d53, #4a1b2f, #0d3715, #38305c
    !default;
$o-colors-text-emphasis:
    #d7d7d7, #fec9bf, #fecca6, #eed592,
    #a0e3fe, #f1c5fe, #ebd2bf, #8eebe3,
    #c3d9fe, #fec5d9, #b0e8b5, #d6d1fe
    !default;


// = Text
// ============================================================================

$o-main-link-color: $o-action !default;
$o-enterprise-color: $o-brand-odoo !default;
$o-main-favorite-color: #ffd532 !default;
$o-main-code-color: #c58bc8 !default;

// = Fine-tune contextual text colors.
$o-theme-text-colors: (
    "primary": #c175ad,
    "success": #30C06E,
    "info": #71ADEA,
    "warning": #D89D54,
    "danger": #ff5757,
) !default;


// = Webclient
// ============================================================================
$o-webclient-color-scheme: dark !default;
$o-webclient-background-color: $o-gray-100 !default;
$o-view-background-color: $o-gray-200 !default;

// = Forms
// ============================================================================
$o-form-check-input-border-color: $o-gray-400 !default;

// = Inputs
$o-input-border-required: $o-black !default;

// = Components
// ============================================================================
$o-component-active-bg: mix($o-action, $o-gray-300, 10%) !default;
$o-form-lightsecondary: $o-gray-300 !default;

// = List-group
$o-list-group-active-bg: rgba(saturate(adjust-hue($o-info, 15), 1.8), .5) !default;

// = Modal
$modal-backdrop-bg: $o-white !default;

// = Buttons
$o-gradient-btn: linear-gradient(145deg, rgba($o-white, .08), rgba($o-white, 0)) !default;
$o-btns-bs-override: () !default;
$o-btns-bs-override: map-merge((
    "primary": (
        background: $o-brand-primary,
        border: $o-brand-primary,
        color: $o-black,

        hover-background: lighten($o-brand-primary, 3%),
        hover-border: lighten($o-brand-primary, 3%),
        hover-color: $o-black,

        active-background: lighten($o-brand-primary, 6%),
        active-border: lighten($o-brand-primary, 6%),
        active-color: $o-black,

        disabled-background: $o-brand-primary,
        disabled-border: $o-brand-primary,
        disabled-color: $o-black,
    ),

    "secondary": (
        background: $o-view-background-color,
        border: $o-gray-300,
        color: $o-gray-900,

        hover-background: $o-gray-300,
        hover-border: $o-gray-300,
        hover-color: $o-gray-900,

        active-background: mix($o-action, $o-gray-100, 15%),
        active-border: lighten($o-action, 10%),
        active-color: $o-black,

        disabled-background: $o-gray-300,
        disabled-border: $o-gray-300,
        disabled-color: $o-gray-900,
    ),

    "light": (
        background: transparent,
        border: transparent,
        color: $o-gray-900,

        hover-background: $o-gray-300,
        hover-border: $o-gray-300,
        hover-color: $o-black,

        active-background: mix($o-action, $o-gray-100, 15%),
        active-border: lighten($o-action, 10%),
        active-color: $o-black,

        disabled-background: transparent,
        disabled-border: transparent,
        disabled-color: $o-gray-900,
    ),

    "danger": (
        background: $o-danger,
        border: $o-danger,
        color: $o-black,

        hover-background: lighten($o-danger, 3%),
        hover-border: lighten($o-danger, 3%),
        hover-color: $o-black,

        active-background: lighten($o-danger, 6%),
        active-border: lighten($o-danger, 6%),
        active-color: $o-black,

        disabled-background: $o-danger,
        disabled-border: $o-danger,
        disabled-color: $o-black,
    ),
), $o-btns-bs-override);


$o-btns-bs-outline-override: () !default;
$o-btns-bs-outline-override: map-merge((

    "primary": (
        background: transparent,
        border: map-get($o-theme-text-colors, 'primary'),
        color: map-get($o-theme-text-colors, 'primary'),

        hover-background: lighten($o-brand-primary, 3%),
        hover-border: lighten($o-brand-primary, 3%),
        hover-color: $o-black,

        active-background: lighten($o-brand-primary, 6%),
        active-border: lighten($o-brand-primary, 6%),
        active-color: $o-black,

        disabled-background: transparent,
        disabled-border: map-get($o-theme-text-colors, 'primary'),
        disabled-color: map-get($o-theme-text-colors, 'primary'),
    ),
    "secondary": (
        background: transparent,
        border: $o-gray-300,
        color: $o-gray-900,

        hover-background: $o-gray-300,
        hover-border: $o-gray-300,
        hover-color: $o-black,

        active-background: mix($o-action, $o-gray-100, 15%),
        active-border: lighten($o-action, 10%),
        active-color: $o-black,

        disabled-background: transparent,
        disabled-border: $o-gray-300,
        disabled-color: $o-gray-900,
    ),

    "light": (
        background: transparent,
        border: $o-gray-300,
        color: $o-black,

        hover-background: $o-gray-300,
        hover-border: $o-gray-300,
        hover-color: $o-black,

        active-background: mix($o-action, $o-gray-100, 15%),
        active-border: lighten($o-action, 10%),
        active-color: $o-black,

        disabled-background: transparent,
        disabled-border: $o-gray-300,
        disabled-color: $o-black,
    ),

    "danger": (
        background: transparent,
        border: map-get($o-theme-text-colors, 'danger'),
        color: map-get($o-theme-text-colors, 'danger'),

        hover-background: lighten($o-danger, 3%),
        hover-border: lighten($o-danger, 3%),
        hover-color: $o-black,

        active-background: lighten($o-danger, 6%),
        active-border: lighten($o-danger, 6%),
        active-color: $o-black,

        disabled-background: transparent,
        disabled-border: $o-danger,
        disabled-color: $o-danger,
    ),
), $o-btns-bs-outline-override);
