///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Options
$o-enable-backdrop-blur: true !default;

// Colors
$o-white: #FFF !default;
$o-black: #000 !default;

$o-gray-100: #f8f9fa !default;
$o-gray-200: #e7ebed !default;
$o-gray-300: #dee2e6 !default;
$o-gray-400: #ced4da !default;
$o-gray-500: #adb5bd !default;
$o-gray-600: #6c757d !default;
$o-gray-700: #495057 !default;
$o-gray-800: #343a40 !default;
$o-gray-900: #212529 !default;

$o-success: #00a945 !default;
$o-warning: #F59E0BFF !default;
$o-danger: #EF4444FF !default;

$o-enterprise-color: #714B67 !default;
$o-enterprise-action-color: #017e84 !default;


$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;
$o-brand-secondary: #8f8f8f !default;
$o-brand-lightsecondary: $o-gray-100 !default;

$o-action: $o-enterprise-action-color !default;
$o-main-link-color: $o-enterprise-action-color !default;

// Gradients
$o-gradient:    linear-gradient(145deg, rgba($o-white, .25), rgba($o-white, 0)) !default;
$o-gradient-sm: linear-gradient(145deg, rgba($o-white, .15), rgba($o-white, 0)) !default;
$o-gradient-lg: linear-gradient(145deg, rgba($o-white, .55), rgba($o-white, 0)) !default;

// Backdrop Blur
$o-backdrop-blur:    blur(4px) !default;
$o-backdrop-blur-sm: blur(2px) !default;
$o-backdrop-blur-lg: blur(6px) !default;

// Webclient
$o-webclient-background-color: $o-gray-100 !default;

// Components
$o-component-active-color:  $o-black !default;
$o-component-active-bg: mix($o-action, $o-white, 10%) !default;
$o-component-active-border: $o-action !default;

$o-border-color: $o-gray-300 !default;

$o-border-radius: o-to-rem(6px) !default;
$o-border-radius-sm: o-to-rem(4px) !default;
$o-border-radius-lg: o-to-rem(8px) !default;
$o-border-radius-xl: o-to-rem(12px) !default;

$o-list-group-header-color: $o-black !default;
$o-list-footer-color: $o-black !default;
$o-list-footer-bg-color: transparent !default;
$o-list-footer-font-weight: 500 !default;

$o-form-lightsecondary: $o-gray-200 !default;

// Controlpanel
$o-control-panel-background-color: $o-webclient-background-color !default;

// o-inputs
$o-input-padding-y: 1px !default;
$o-input-padding-x: 0 !default;

$o-input-border-required: $o-black !default;

// Badges
$o-badge-min-width: 2.7ch !default;

// Buttons
// Map of customized values for each button. If a button's design is defined
// here, the relative values will take priority over default BS ones.
// Notice: each map's entry is passed directly to the Bootstrap mixin, meaning
// that all states must be defined, there can't be omissions.
$o-gradient-btn:  $o-gradient-sm !default;
$o-btns-bs-override: () !default;
$o-btns-bs-override: map-merge((
    "primary": (
        background: $o-brand-primary,
        border: $o-brand-primary,
        color: $o-white,

        hover-background: darken($o-brand-primary, 10%),
        hover-border: darken($o-brand-primary, 10%),
        hover-color: $o-white,

        active-background: mix($o-brand-primary, $o-white, 10%),
        active-border:  $o-brand-primary,
        active-color:$o-brand-primary,

        disabled-background: $o-brand-primary,
        disabled-border: $o-brand-primary,
        disabled-color: $o-white,
    ),
    "secondary": (
        background: $o-white,
        border: $o-gray-400,
        color: $o-gray-900,

        hover-background: $o-gray-200,
        hover-border: $o-gray-400,
        hover-color: $o-black,

        active-background: $o-component-active-bg,
        active-border:  $o-component-active-border,
        active-color: $o-component-active-color,

        disabled-background: $o-white,
        disabled-border: $o-gray-400,
        disabled-color: $o-gray-900,
    ),
    "light": (
        background: transparent,
        border: transparent,
        color: $o-gray-900,

        hover-background: $o-gray-200,
        hover-border: $o-gray-200,
        hover-color: $o-black,

        active-background: $o-component-active-bg,
        active-border:  $o-component-active-border,
        active-color: $o-component-active-color,

        disabled-background: transparent,
        disabled-border: transparent,
        disabled-color: $o-gray-900,
    ),
), $o-btns-bs-override);

$o-btns-bs-outline-override: () !default;
$o-btns-bs-outline-override: map-merge((
    "secondary": (
        background: transparent,
        border: $o-gray-400,
        color: $o-gray-900,

        hover-background: $o-gray-200,
        hover-border: $o-gray-400,
        hover-color: $o-black,

        active-background: mix($o-enterprise-action-color, $o-white, 10%),
        active-border:  $o-enterprise-action-color,
        active-color: $o-component-active-color,

        disabled-background: transparent,
        disabled-border: $o-gray-400,
        disabled-color: $o-gray-900,
    ),
), $o-btns-bs-outline-override);
