.o_user_has_no_working_periods {
    background-color: var(--Gantt__DayOff-background-color) !important;
    &.o_gantt_group {
        background: none !important;
        background-color: var(--Gantt__DayOff-background-color) !important;
    }
}
