.o_appointment_calendar_event_form_gantt_booking {
    // fit input to contents to avoid dead space, down to a reasonable width
    .o_appointment_form_gantt_capacity_field input {
        min-width: 3rem;
        field-sizing: content;
    }
    // fit input to modal width
    .o_field_many2many_tags[name="resource_ids"] .o_tags_input {
        width: 100%;
    }
}

@for $index from 1 through length($o-colors-complete) {
    .o_appointment_status_btns_container .o_appointment_status_btn_color_#{$index - 1} {
        $gantt-color: nth($o-colors-complete, $index);
        @include o-gantt-colors($gantt-color);
    }
}
