div[data-oe-local-overlay-id="ai-website-selection-overlay-container"] {
    pointer-events: none;
}

html.o-ai-website-picker-active * {
    cursor: pointer !important;
}

.o-ai-website-picker-active {
    [data-oe-local-overlay-id="builder-overlay-container"] {
        display: none;
    }
}
