.o-voip-AudioBinaryField {
    width: 100%;

    &-source {
        align-items: center;
        background: var(--gray-100);
        border: 2px dashed $o-gray-500;
        border-radius: $border-radius-lg;
        color: $body-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        min-height: 12rem;
        padding: map-get($spacers, 3);
        width: 50%;

        &:hover,
        &--dragging {
            background: rgba($o-action, 0.08);
            border-color: $o-action;
        }
    }

    &-sourceContent {
        align-items: center;
        display: flex;
        font-size: 1.25rem;
        gap: map-get($spacers, 2);
        justify-content: center;
    }

    &-recordIcon {
        background: $danger;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
    }
}
