// = Enterprise Main Navbar Variables
// ============================================================================
$o-navbar-background: rgba($o-webclient-background-color, 0) !default;
$o-navbar-font-size: $o-font-size-base !default;

$o-navbar-entry-margin-h: 1px !default;
$o-navbar-entry-color: $o-main-text-color !default;

$o-navbar-entry-bg--hover: $o-gray-200 !default;
$o-navbar-entry-color--hover: $o-black !default;

$o-navbar-entry-bg--active: unset !default;
$o-navbar-entry-color--active: unset !default;

$o-navbar-brand-color: $o-main-text-color !default;

$o-navbar-badge-size: .7em !default;
$o-navbar-badge-padding: 4px !default;
$o-navbar-badge-bg: $o-danger !default;
$o-navbar-badge-color: $o-white !default;
$o-navbar-badge-text-shadow: none !default;
