.o_ai_preview_cards .o_wslides_desc_truncate_2_badges,
.o_ai_preview_cards .o_wslides_lesson_card .text-muted.o_wslides_desc_truncate_2.my-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    max-height: 3.8rem;
    overflow: hidden;
}

.o_ai_preview_cards .card-footer:has(.progress) {
    gap: map-get($spacers, 2);

    .flex-basis-50 {
        min-width: 0;
    }
}
