.o_knowledge_comments_handler {
    .o_knowledge_comment_box {
        max-width: 400px;
        .o_knowledge_comment_background {
            &:not(.o_knowledge_comment_small_ui) {
                background-color: $o-view-background-color;
            }
            &.o_knowledge_comment_small_ui > img {
                width: $spacer * 2;
                height: $spacer * 2;
            }
        }
    }
}

.o_knowledge_comments_panel {
    .card.o_knowledge_comment_card_borderless {
        border: none;
    }
    .o_knowledge_comment_box {
        .o_knowledge_comment_background {
            .o_knowledge_comment_anchor > div {
                border-left: $border-width * 3 solid #75a7f9;
            }
        }
    }
}

.o_knowledge_comments_panel, .o_knowledge_comments_handler {
    .o_knowledge_comment_box {
        .o_knowledge_comment_background {
            max-height: 50vh;
            animation: o-knowledge-comment-fade-in .2s ease-in-out;
            .o-mail-Message-avatarContainer {
                background-color: transparent !important;
            }
        }
    }
}

.o_knowledge_comments_panel:has(.o_focused_thread) {
    .card {
        opacity: 0.6;
        transition: $transition-fade;
    }

    .card:has(.o_focused_thread) {
        opacity: 1;
    }
}

.o-overlay-item:has( .o_knowledge_comments_popover) {
    z-index: 1029; // FileViewer's modal is at 1030
}

.o_knowledge_comments_popover {
    width: 100%;
    overflow: hidden;
    max-height: 50vh !important;
    max-width: Min(400px, 80vw) !important;
}

.o_knowledge_comment_container, .o_knowledge_comments_popover {
    .o_knowledge_sticky_composer {
        z-index: 1000;
    }
    .o-mail-AttachmentCard {
        grid-column-start: span 12 !important;
        grid-column-end: auto !important;
    }

    .o-mail-Thread {
        padding-bottom: 0 !important;
    }

    .o-mail-Thread-content {
        gap: map-get($spacers, 2);
    }
}

@keyframes o-knowledge-comment-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
