.o_social_linkedin_preview {
    --social-linkedin-color: #3178c9;
    .o_social_preview_icon_wrapper {
        background-color: var(--social-linkedin-color);
    }

    .o_social_preview_author {
        line-height: 1.2;
        small{
            line-height: 1;
        }
    }
    .o_social_preview_description {
        font-size: 0.75em;
    }
    .o_social_linkedin_preview_article {
        background-color: var(--SocialLikedin__previewArticle-background-color, #f0f4fc);
    }
}

.o_social_comments_modal_linkedin {
    a:not(.btn-outline-secondary):not(.o_social_comment_published_date):not(.o_social_post_published_date):not(.dropdown-item) {
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.o_social_account_disabled:hover,
.o_social_account_disabled:focus {
    // The standard bootstrap `disabled` class remove all hover event
    // and we need them to show the title and the delete button
    cursor: no-drop;
    background-color: inherit !important;
}

.o_social_account_linkedin_type_icon {
    bottom: 4px;
    right: 24px;
    border-radius: 8px;
    background-color: var(--modal-bg);
}

.o_social_account_linkedin_type {
    font-size: 0.6rem;
}
