// = Home Menu
// ============================================================================
// No CSS hacks, variables overrides only

.o_home_menu_background {
    .o_app {
        --AppSwitcherIcon-background: #{$o-view-background-color};
        --AppSwitcherIcon-box-shadow: #{inset 0 0 0 1px $border-color};

        &:hover {
            --AppSwitcherIcon-box-shadow--hover: #{inset 0 0 0 1px $o-gray-400};
        }
    }
}
