// Shared with web client and login screen
.o_home_menu_background {
    background-image:
        var(--AppSwitcherDefaultBackground-backgroundImage,
            linear-gradient(45deg, #{$o-webclient-background-color} 0%, transparent 50%),
            linear-gradient(135deg, #{$o-webclient-background-color} 0%, transparent 30%, transparent 60%, #{$o-webclient-background-color} 95%),
            linear-gradient(180deg, #{$o-webclient-background-color} 0%, transparent 100%),
            radial-gradient(circle at 50% 50%, var(--AppSwitcherBg__contrastRadial-backgroundColor, #{rgba(darken($o-webclient-background-color, 5%), .95)}) 20%, transparent 400%),
            radial-gradient(var(--AppSwitcherBg__dots-backgroundColor, rgba(0, 0, 0, 1)) 1px, #{$o-webclient-background-color} 1px)
        );
    background-repeat: var(--AppSwitcherDefaultBackground-backgroundRepeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat);
    background-size: var(--AppSwitcherDefaultBackground-backgroundSize, auto, auto, 100% 40%, auto, 12px 12px);

    &.o_home_menu_background_custom {
        --AppSwitcherDefaultBackground-backgroundImage: none;

        .o_home_menu {
            background: {
                size: cover;
                repeat: no-repeat;
                position: center;
            }
        }
    }
}
