
html {
    @include media-breakpoint-up(md) {
        font-size: $o-root-font-size * 1.75;
    }

    @include media-breakpoint-up(lg) {
        font-size: $o-root-font-size * 3;
    }
    
    @include media-breakpoint-up(xl) {
        font-size: $o-root-font-size * 5;
    }

    // 4K 
    @media (min-width: 3840px) {
        font-size: $o-root-font-size * 9;
    }
}

.o_tracking_display_logo {
    width: 10vw;
}
