/*rtl:begin:ignore*/
.o-CallDebriefTimeline-transcript-marker {
    height: var(--CallDebriefTimeline__marker-height, 4px);
    width: var(--CallDebriefTimeline__marker-width, 4px);
    transform: translateX(-25%);

    &.o_active {
        transform: scale(2) translateX(-25%);
    }
}
/*rtl:end:ignore*/
