.o_knowledge_form_view {
    --knowledge-gutter: #{map-get($spacers, 3)};

    .o_knowledge_sidebar {
        $o-sidebar-indent: .75rem;
        ul {
            list-style: none;
            padding: 0;
        }
        li > ul > li {
            &:not(.o_dragged) {
                padding-left: $o-sidebar-indent;
            }
            &:last-child {
                padding-bottom: 0;
                &:after {
                    height: 1em;
                }
            }
        }
        .o_knowledge_tree_scroller {
            scrollbar-width: thin;
        }
    }
    .o_knowledge_sidebar_content > * {
        padding-left: map-get($spacers, 3);
        padding-right: map-get($spacers, 3);

        @include media-breakpoint-up(md) {
            padding-left: var(--knowledge-gutter);
            padding-right: 0;
        }
    }
    // = Resizer
    // --------------------------------------------------------------------------
    .o_knowledge_article_form_resizer {
        @include o-position-absolute($top: 0, $right: calc(-1 * var(--knowledge-gutter)), $bottom: 0);
        cursor: col-resize;
        touch-action: none;
        transform: translateX(50%);
        width: $border-width * 2;
        z-index: 1;

        &:hover > span,
        > span.o_resizer_bg {
            @include o-position-absolute($top: 0, $bottom: var(--knowledge-gutter), $right: 0);
            background-color: $gray-400;
            width: 100%;
            flex-grow: 0;
        }

        > span.o_resizer_bg {
            background-color: $primary;
        }
    }
    // = Cover
    // --------------------------------------------------------------------------
    .o_knowledge_cover {
        width: 100%;
        img {
            width: 100%;
            height: 30vh;
            min-height: 150px;
            object-fit: cover;
        }
        &.o_cursor_grab {
            cursor: grab;
        }
        &.o_cursor_grabbing {
            cursor: grabbing;
        }
        .o_reposition_hint {
            background-color: black;
            color: white;
        }
    }
}
