.o_body_html:has(.o_eco_changes_report),
.o_body_pdf.o_css_margins:has(.o_eco_changes_report) {
    padding: 0;
}

.o_eco_changes_report {
    overflow: auto;
    font-size: 0.8125rem; // 13px — match backend font size

    .o_body_pdf & {
        overflow: visible;
    }

    table.table {
        width: 100%;
        table-layout: auto;

        tbody td {
            padding: 0.75rem;
            vertical-align: middle;
        }

        tbody tr {
            border-bottom: 1px solid #f0f0f0;
        }
    }
}
