.o_show_billable_timesheets_button {
    &:hover {
        color: $link-hover-color !important;
        * {
            color: inherit !important;
            opacity: 1 !important;
        }
    }
}
