.o_ai_preview_cards:has(.o_job_infos) > .o_ai_preview_card {
    flex: 0 0 90%;
    overflow: visible;
}

.o_ai_preview_cards:has(.o_job_infos) .o_job_card_description {
    @include o-ai-preview-card-line-clamp(3);
}

.o_ai_preview_cards:has(.o_job_infos) .o_job_infos .oi {
    margin-right: map-get($spacers, 2);
}
