[data-icon='o_ai_icon'] {
    $o-ai-icon-filter: grayscale(1) contrast(3) brightness(0.4);

    &::before {
        display: block;
        background: url('/ai/static/description/icon.png');
        background-size: contain;
        filter: var(--o-ai-icon-filter, #{$o-ai-icon-filter});
        width: var(--o-ai-icon-size, 1em);
        aspect-ratio: 1;
        content: "";
    }

    &.oi-fw {
        display:flex;

        &::before {
            --o-ai-icon-size: calc(#{$oi-fw-ratio} * var(--oi-font-size, #{$oi-default-size}));
        }
    }
}

.o_ai_icon_color::before {
  filter: var(--o-ai-icon-filter) grayscale(0%);
}

.o-ai-agent-step > p:last-child {
    margin-bottom: 0 !important;
}

.o_ai_tool_summary {
    .o_ai_tool_arguments {
        display: none;
    }
    &:focus {
        .o_ai_tool_arguments {
            display: inline;
        }
    }
}
