.o-web-studio-report-editor > div {
    --o-web-studio-bg-dark: #{$o-web-studio-sidebar-gray-700};
    --o-web-studio-bg-darker: hsl(from var(--o-web-studio-bg-dark) h s calc(l * 0.8));
    --o-caret-color: #{$o-web-studio-sidebar-color};

    color: $o-web-studio-sidebar-color;
    scrollbar-color: $o-web-studio-sidebar-gray-500 $o-web-studio-sidebar-gray-600;

    &.o-web-studio-report-editor-sidebar {
        width: $o-web-studio-sidebar-width;
        background: $o-web-studio-sidebar-gray-800;
        border-right: none;

        .o_notebook {
            .nav-tabs {
                background: none;
            }

            .o-web-studio-tabs-highlighter {
                --border-color: #{$o-web-studio-sidebar-success};
                --bg-color: #{rgba($o-web-studio-sidebar-success, .15)};
                transition: all .5s, transform .25s;
                border-bottom: 2px solid var(--border-color);
                background-color: var(--bg-color);

                &.o-web-studio-tabs-highlight-1 {
                    --border-color: rgb(1, 186, 210);
                    --bg-color: rgba(1, 186, 210, 0.15);
                }

                &.o-web-studio-tabs-highlight-2 {
                    --border-color: #{$o-web-studio-sidebar-accent};
                    --bg-color: #{rgba($o-web-studio-sidebar-accent, .15)};
                }
            }

            .nav-item {
                --color: #{$o-web-studio-sidebar-success};
                margin: 0;

                &:nth-child(2) {
                    --color: #{$o-web-studio-sidebar-active};
                }

                &:nth-child(3) {
                    --color: #{$o-web-studio-sidebar-accent};
                }

                .oi {
                    color: var(--color);
                }

                .nav-link {
                    width: 100%;
                    background: none;
                    border: none;
                    color: rgba(255, 255, 255, 0.8);
                    border-bottom: 2px solid transparent;

                    &::after {
                        height: 0;
                    }

                    &:hover {
                        --border-color: rgb(from var(--color) r g b / 0.5);
                        border-bottom-color: var(--border-color);
                        background: none;
                    }

                    &:hover, &.active {
                        color: white;
                    }
                }
            }
        }
    }

    &.o-web-studio-report-editor-xml {
        background: $o-web-studio-sidebar-gray-800;
    }

    .o_web_studio_code_editor_info {
        background: $o-web-studio-bg-darker;
    }

    h4,
    input,
    label,
    button {
        color: $o-web-studio-sidebar-color;
        font-weight: 400;
        font-size: 13px;
    }

    .active,
    aria-expanded[true],
    input:focus {
        border-color: $o-web-studio-sidebar-active;
    }

    i {
        height: fit-content;
    }

    .btn {
        --btn-bg: #{$o-web-studio-sidebar-gray-500};
        --btn-hover: hsl(from var(--btn-bg) h s calc(l * 0.9));
        --btn-border-color: #{$o-web-studio-sidebar-gray-800};
        --btn-active-bg: #{$o-web-studio-sidebar-active};

        padding: 0 .5rem;
        border: 1px solid var(--btn-border-color);
        min-height: calc(#{$o-web-studio-sidebar-input-height} + 2px);

        &:disabled {
            opacity: 0.4;
        }

        &:hover:not(:disabled) {
            background: var(--btn-hover);
        }
    }

    .btn.active:hover {
        background: var(--btn-active-bg);
    }

    .btn-flat {
        border-width: 0;
        --btn-bg: transparent;

        &:hover {
            --btn-hover: #{$o-web-studio-sidebar-gray-600};
        }
    }

    .btn-success, .btn-accent {
        color: #000000;
        --btn-bg: #{$o-web-studio-sidebar-success};
        --btn-border-color: var(--btn-bg);
        --btn-disabled-bg: var(--btn-bg);
    }

    .btn-success {
        --btn-bg: #{$o-web-studio-sidebar-success};
    }

    .btn-accent {
        --btn-bg: #{$o-web-studio-sidebar-accent};
    }

    .btn-group .btn {
        margin: 0;

        &:not(:first-child) {
            margin: 0;
            border-left: none;
        }
    }

    .o-web-studio-report-editor-sidebar-header .btn,
    .o-web-studio-report-editor-code-editor-header .btn {
        height: 1.8rem;
        font-size: 12px;
        border-color: $o-web-studio-sidebar-gray-800 !important;
    }

    input.o_input, .o_field_tags .o_input, .o_tag,
    .o_field_widget.o_field_many2many_tags .o_field_many2many_selection {
        border: 1px solid $o-web-studio-sidebar-gray-800;
        border-radius: var(--border-radius);
        background: $o-web-studio-sidebar-gray-700;
        height: $o-web-studio-sidebar-input-height;
        padding: 0 .25rem;
    }

    .o_field_many2one_selection, .o_record_selector {
        .o_dropdown_button {
            position: absolute;
            right: 0;
            padding-right: .5rem;
        }
    }

    .o-autocomplete {
        color: $o-web-studio-sidebar-gray-600;
    }

    .o_field_tags, .o_record_selector {
        width: 100%;
        border: none;
        --Tag-max-width: 100%;

        .o_input {
            padding: .15rem;
        }
    }

    .o_tag {
        width: 100%;
        padding-right: .4rem;
        color: $o-web-studio-sidebar-gray-200 !important;
        border-radius: 5px !important;
        background-color: $o-web-studio-sidebar-gray-700 !important;

        .o_badge_text {
            text-align: start;
            flex-grow: 1;
        }
    }

    .o-web-studio-report-container {
        background: white;

        @include media-breakpoint-up(lg) {
            margin: $o-sheet-vpadding auto $o-sheet-vpadding*2;
        }
    }

    .o_web_studio_code_editor {
        height: auto;
        flex-grow: 1;
    }

    .o-web-studio-report-editor-xml-resource, .o-web-studio-report-editor-xml-sub-resources {
        border-bottom: 1px solid $o-web-studio-sidebar-gray-700;
    }

    .o-web-studio-report-editor-xml-sub-resources .o-web-studio-report-editor-xml-resource {
        margin-left: 2rem;
        border-left: 1px solid $o-web-studio-sidebar-gray-700;

        &::after {
            content: "";
            position: absolute;
            width: 15px;
            left: -15px;
            top: -50%;
            height: 100%;
            border-left: 1px solid $o-web-studio-sidebar-gray-400;
            border-bottom: 1px solid $o-web-studio-sidebar-gray-400;
        }

        &:first-child::after {
            height: 50%;
            top: 0px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .o-web-studio-report-record-selector .o_input {
        flex-wrap: nowrap !important;
    }
}

.o_popover .o-web-studio-report-field-qweb-selector {
    div {
        color: $o-brand-primary;

        &[selected] {
            background: $o-brand-primary;
            color: map-get($theme-colors, 'light');
        }
    }
}

.o-web-studio-report-xml-iframe {
    cursor: pointer;
}

.o-web-studio-report-error {
    color: #353535;
}
