td.description-one-line div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.description-one-line div {
  display: inline-flex;
  margin: 0;
  gap: 0.25em !important;
  padding: 0;
}
