:root {
    --gray-200-rgb: #{to-rgb($o-gray-200)};
    --gray-300-rgb: #{to-rgb($o-gray-300)};
    --bs-primary-rgb: #{to-rgb($o-brand-primary)};
    --bs-secondary-rgb: var(--gray-200-rgb);
    --bs-danger-rgb: #{to-rgb($o-danger)};
    --bs-dark-rgb: #{to-rgb($o-gray-900)};
    --bs-white-rgb: #{to-rgb($o-white)};
    --bs-body-color-rgb: #{to-rgb($o-main-text-color)};
    --bs-body-bg-rgb: #{to-rgb($o-view-background-color)};
    --btn-font-weight: 500;
    --btn-font-size: 0.875rem;
    --btn-line-height: 1.5;
    --border-radius: #{$o-border-radius};
    --bs-darkblue-rgb: 0, 0, 139;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    padding: 0.3125rem 0.625rem;
    background-color: RGBA(var(--btn-bg-color-rgb, --bs-body-bg-rgb), 1);
    text-align: center;
    font-size: var(--btn-font-weight);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height);
    color: RGBA(var(--btn-body-color-rgb, --bs-body-color-rgb), 1);
    user-select: none;
    cursor: pointer;
    transition: none;
}

.btn-primary {
    --btn-body-color-rgb: var(--bs-white-rgb);
    --btn-bg-color-rgb: var(--bs-primary-rgb);
}

.btn-primary:hover {
    $-hover-bg: darken($o-brand-primary, 5%);
    --btn-bg-color-rgb: #{round(red($-hover-bg))}, #{round(green($-hover-bg))}, #{round(blue($-hover-bg))};
}

.btn-secondary {
    --btn-bg-color-rgb: var(--bs-secondary-rgb);
}

.btn-secondary:hover {
    --btn-bg-color-rgb: var(--gray-300-rgb);
}

.toolbar {
    z-index: 1020;
}

#viewerContainer { /* PDFJS Viewer */
    visibility: hidden;
    opacity: 1;
}

#viewer { /* PDFJS Viewer */
    padding-top: 21px; /* Allow space for the types toolbar */
    padding-bottom: 52px;  /* Extra space at the bottom to prevent overlap with the validate button */
}

.page { /* PDFJS Viewer */
    position: relative;
    color-scheme: light;
}

select {
    border: none;
    background: transparent;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    text-align: left;
}

select:focus {
    outline:none;
}

.ui-selected, .ui-selecting { /* jQuery UI */
    box-shadow: 0px 0px 5px 1px orange;
}
.ui-draggable .ui-draggable-handle, .o_sign_field_type_button.ui-draggable { /* jQuery UI */
    cursor: grab;
}

.ui-draggable-dragging .ui-draggable-handle,
.o_sign_sign_item_to_add.ui-draggable-dragging,
.o_sign_sign_item.ui-draggable-dragging { /* jQuery UI */
    box-shadow: 0 5px 25px -10px black;
    transition: box-shadow 0.3s;
    cursor: grabbing;
}

.o_sign_sign_item_navigator {
    position: fixed;
    top: 15%;
    left: 0;
    line-height: 50px;
    height: 50px;
    font-size: 1.4em;
    text-transform: uppercase;
    z-index: 100;
    padding: 0 10px 0 5px;
    color: white;
    cursor: pointer;
    background-color:RGB(var(--bs-primary-rgb));
}

.o_sign_sign_item_navigator:after {
    content: "";
    position: absolute;
    margin-left: 10px;
    width: 0px;
    height: 1px;
    border-top: 24px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid RGB(var(--bs-primary-rgb));
}

@media (max-width: 767px) { /* @screen-xs-max */
    .o_sign_sign_item_navigator {
        width: 100%;
        top: initial !important;
        bottom: 0;
        z-index: 9999;
        line-height: 25px;
        height: 35px;
        padding: 5px 0 0;
        font-size: var(--btn-font-size);
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
        text-align: center;
    }
    .o_sign_sign_item_navline {
        display: none !important;
    }
}

.o_sign_sign_item_navline {
    position: fixed;
    top: 15%;
    left: 1%;

    pointer-events: none;
    z-index: 80;

    width: 99%;
    height: 25px;
    border-bottom: 1px dashed silver;
    opacity: 0.5;
}

@media (max-width: 767px) { /* @screen-xs-max */
    .o_sign_sign_item_navline {
        line-height: 12.5px;
        height: 12.5px;
    }
}

#outerContainer.o_sign_field_type_toolbar_visible #thumbnailView {
    width: auto;
}

.o_tooltip > .o_tooltip_content {
    font-size: 12px !important;
    box-sizing: border-box;
}

.o_edit_mode_dropdown_content {
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: block;
  padding: 5px;
}

.o_edit_mode_dropdown {
    position: absolute;
}

.o_edit_mode_dropdown_item {
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.o_edit_mode_dropdown_item:hover {
    background-color:lightgray;
    cursor: pointer;
}

.dropdown_close_icon {
    display: flex;
    justify-content: flex-end;
}

.o_sign_drag_helper {
    position: fixed;
    z-index: 103;
    pointer-events: none;
    visibility: hidden;
}

.o_sign_drag_side_helper {
    width: 0;
    height: 100%;
    border-left: 1px dashed lightgray;
    top: 0;
}

.o_sign_drag_top_helper {
    border-top: 1px dashed lightgray;
    width: 100%;
    height: 0;
    left: 0;
}

.textLayer,
.annotationLayer section {
    z-index: 2 !important; /* allow text selection and link clicks after adding canvas_layer_0 */
}
