.o_attendee_calendar_view {
    @include media-breakpoint-down(md) {
        &:has(.o_calendar_sidepanel_container) .o_appointment_scheduling_box {
            // On mobile, hide the appointment scheduling box when the calendar side panel is open.
            display: none !important;
        }
    }
    .o_appointment_scheduling_box {
        grid-area: 1 / 2;

        @include media-breakpoint-down(md) {
            grid-area: 4 / 1 / 4 / 4;
            z-index: $zindex-modal;
            border: none;
            background-color: $o-view-background-color;
            width: 100%;
            padding: 8px 16px;
        }
    }
}
