.o_payrun_kanban {
    padding: 0 4%;

    @media (max-width: 768px) {
        padding: 0;
    }

    .o_payrun_chatter_icon:hover i {
        color: $primary;
    }

    // Selected payrun card highlight when chatter panel is open
    .o_payrun_kanban_container:has(.o_payrun_chatter_container) & {
        .o_kanban_record:has(.o_payrun_chatter_icon [data-icon='close']) {
            box-shadow: inset 0 0 0 $border-width $primary;
        }
    }
}

// Chatter side panel
.o_payrun_chatter_container {
    min-width: 31rem;
    max-width: 26rem;
}
