body:has(.o-mail-ChatWindow.o-isAiComposer) .o-overlay-item:has(.o-FileViewer),
body:has(.o-mail-ChatWindow.o-isAiComposer) .o-overlay-item:has(.o_dialog):not(:has(.o_error_dialog)) {
    z-index: $zindex-offcanvas;
}

body:has(.o-mail-ChatWindow.o-isAiComposer) .o-overlay-item:has(.o-we-toolbar){
    z-index: $zindex-offcanvas - 1;
}

.o-mail-ChatWindow.o-isAiComposer{
    --mail-ChatWindow-mobileZindex: #{$zindex-offcanvas};
}

.o-mail-ChatHub-bubbles.o-hasAiChat:not(.o-mobile),
.o-mail-ChatHub .o-mail-ChatWindow.o-isAiComposer:not(.o-mobile)  {
    z-index: $zindex-offcanvas + 1;
}

.ai-chat-prompt-button {
    margin: 4px 8px 0 0;
    padding: 0 4px;
    text-align: justify;
}

.o-mail-Discuss .o-mail-Message:has(div.ai-message-body) {
    width: 75%;
    .ai-pre-response {
        width: 60%
    }
}

.ai-message-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
    > *:last-child {
        margin-bottom: 0px;
    }

    :is(h2, h3, h4):not(:first-child) {
        margin-top: 12px !important;
    }

    li > p {
        margin-bottom: 0px;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 { 
        font-size: 1.2rem;
    }
    
    .ai-table-response {
        display: block;
        max-width: 100%;
        width: fit-content;
        overflow-x: auto;
        td {
            min-width: 120px;
            max-width: 400px;
        }
        th {
            white-space: nowrap;
        }
    }
    .ai-pre-response {
        .ai-code-response {
            display: block;
            min-width: max-content;
        }
    }
}

@media (max-width: 1500px) {
    .o-mail-Message:has(div.ai-message-body) {
        width: 100% !important;
    }
    .ai-pre-response {
        width: 100% !important;
    }
}

.o-ai-AgentToolSummary-params {
    max-height: 15rem;
}

.o_ai_user_input_request {
    margin-inline: 0.5rem;

    .o_ai_option {
        &:hover .badge {
            background-color: $o-gray-300 !important;
        }

        &:focus-within {
            background-color: var(--btn-hover-bg) !important;
            border-color: transparent !important;
            box-shadow: 0 0 0 0.1rem RGBA(#{$btn-link-focus-shadow-rgb}, .5) !important;
            outline: none;

            .badge {
                background-color: $o-gray-300 !important;
            }
        }

        input:focus {
            outline: none;
            box-shadow: none;
        }
    }
}
