.o_barcode_client_action .o_form_view {
    @include media-breakpoint-down(sm) {
        .o_form_nosheet {
            padding-top: 8px;
        }
        .o_field_x2many_kanban.o_kanban_mobile .o_kanban_record {
            border: $border-width solid $border-color;
        }
    }
}

div[name=instructions_preview] ol {
    padding: 0 3ch;
    margin-top: 1.5em;
    @include media-breakpoint-down(md) {
        padding: 0 1ch;
    }

    li {
        margin-bottom: 1.5em;

        &::marker {
            content: "";
        }

        &::before {
            content: counter(list-item);
            display: inline-block;
            width: 4.5ch;
            color: $o-main-text-color;
            background: $o-gray-300;
            border-radius: 3ch;
            padding: 1ch;
            padding-inline: 1ch;
            margin-inline-end: 3ch;
            text-align: center;
            vertical-align: top;

            @include media-breakpoint-down(md) {
                background: none;
                width: auto;
                padding: 0;
                color: $text-muted;
                font-size: 1.2em;
                font-weight: bold;
                margin-inline-end: 1ch;
            }
        }

        div.o_barcode_instruction {
            display: inline-block;
            @include media-breakpoint-up(md) {
                padding-top: 1ch;
            }
        }
    }
}
