.o_ma_campaign_template_picker_dialog {
    .nav {
        --Notebook-padding-x: #{map-get($spacers, 3)};
    }

    .o_ma_campaign_picker_card {
        min-height: 12vh;
        border: $border-width solid $border-color;

        &:hover {
            background: var(--PickerCard-background--hover, #{$o-gray-200});
        }

        &:focus-visible {
            box-shadow: 0 0 0 #{$btn-focus-width} RGBA(#{$btn-link-focus-shadow-rgb}, .5);
            outline: none;
        }

        &.o_ma_campaign_picker_active {
            background: #{mix($o-action, $o-gray-100, 15%)};
            border: $border-width solid #{$o-action};
        }
    }
}
