.o-voip-StatusMenu-number {
    .o-voip-countryFlag {
        width: 20px;
    }

    .o-voip-StatusMenu-copy {
        opacity: 0;
    }

    &:hover .o-voip-StatusMenu-copy,
    .o-voip-StatusMenu-copy:focus-visible {
        opacity: 1;
    }
}

.o-voip-StatusMenu-number--selectable {
    cursor: pointer;

    &:hover {
        background-color: var(--gray-100);
    }
}
