.o_widget_knowledge_side_panel {
    .o_knowledge_side_panel_toolbar {

        // override btn-light styles to match with sidepanel
        > button:not(:hover, :focus-visible, :active, .active, .show) {
            background-color: transparent !important;
            border-color: transparent !important;
        }
    }

    &:has(.o_scroll_view_lg:empty) {
        display: none;
    }

    &:has(.o_scroll_view_lg > div:empty) {
        display: none;
    }

    flex: 0 1 450px;
    min-width: 0;
    height: 100%;
    position: relative;
    @include media-breakpoint-down(md) {
        background: none;
        width: 100%;
        @include o-position-absolute(0, 0, 0, 0);
        z-index: $zindex-modal-backdrop - 1; // should be greater than the backdrop z-index

        .o_scroll_view_lg {
            width: 80%;
            height: 100%;
            @include o-position-absolute(0, 0, 0, auto);
            z-index: $zindex-modal-backdrop - 2; 
        }

        .o_knowledge_side_panel_open {
            width: 100%;
            @include o-position-absolute(0, auto, 0, 0);
            background: rgba(0, 0, 0, .5);
            z-index: $zindex-modal-backdrop - 3;
        }
    }
}

@include media-breakpoint-down(md) {

    // hide the toolbar on mobile when the side panel is open
    body:has(.o_knowledge_side_panel_open) {
        .o-toolbar-above-keyboard {
            display: none !important;
        }
    }
}
