.o_certificates_2306_2307 {
    font-family: "Liberation Sans";
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px 10px;

    .border {
        border: 1px solid black;
    }

    .o_secondary_bg {
        background-color: #d9d9d9;
    }

    .o_field_box {
        height: 22px;
        line-height: 22px;
        background: white;
    }

    .o_certificate {
        width: 20%;
    }

    .text-indent-50 {
        text-indent: 50px;
    }

    .o_title_container {
        padding-left: 30px;
        font-size: 25px;
    }

    .o_barcode {
        width: 30%;

        .o_barcode_img {
            width: 85%;
        }
    }

    .o_box {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        background-color: white;
    }

    .o_separator {
        margin: 0px 2px;
    }

    .o_withheld_table {
        width: 100%;
        font-size: 11px;

        th, td {
            border: 1px solid black;
            text-align: center;
        }

        .w-12 {
            width: 12%;
        }
    }

    .o_withheld_table_2306 {
        .o_data_row {
            height: 17px;
        }

        .o_income_description_col  {
            width: 38%;
        }
    }

    .o_withheld_table_2307 {
        .o_data_row {
            height: 20px;
        }
    }

    .o_accreditation {
        padding: 2px 0px;
        font-size: 11px;

        .o_accreditation_label, .o_accreditation_no {
            width: 20%;
            text-align: center;
        }

        .o_accreditation_no {
            height: 28px;
            background-color: white;
        }

        .o_date_label {
            width: 10%;
        }

        .o_date {
            width: 20%;
            display: flex;
            margin: 4px 0px;
        }
    }
}
