.o_form_138_kanban {
    container-type: inline-size;

    .card {
        width: 50%;
        margin: auto;
    }

    .o_kanban_group {
        .o_kanban_header {
            display: flex;
            align-items: center;
            width: 52.5%;
            margin: auto;
            padding: 0 !important;

            &:after {
                content: "";
                flex-grow: 1;
                height: 1px;
                background-color: $border-color;
            }
        }
    }

    $responsive-widths: (
        80rem: 60%,
        64rem: 70%,
        56rem: 80%,
        48rem: 90%
    );

    @each $breakpoint, $card-width in $responsive-widths {
        @container (max-width: #{$breakpoint}) {
            .card {
                width: $card-width;
            }

            .o_kanban_group .o_kanban_header {
                width: $card-width + 2.5%;
            }
        }
    }
}
