// Basic Bootstrap badge customization layer to apply enterprise customizations.

.badge {

	// Bootstrap doesn't allow CSS-variables text-color override for text-bg-* classes
	$-o-text-colors-complete: map-merge($theme-colors, $o-theme-text-colors);
	@each $-name, $-color in $-o-text-colors-complete {
		&.text-bg-#{$-name} {
			--bg-opacity: .15;
			color: $-color !important;
		}
	}
	$-o-text-colors-complete: null;
}
