.o_extract_mixin_box_layer {
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0.8;
    z-index: 999;
}

.o_extract_mixin_box_layer > .o_extract_mixin_box {
    position: absolute;
    color: transparent;
    background-color: transparent;
    white-space: pre;
    cursor: pointer;
    border: 2px solid rgba(100, 100, 255, 0.3);
    border-radius: 2px;
    transform-origin: center;
    transition: background-color 0.5s ease-out;
}

.o_extract_mixin_box_layer:not(.is-selecting) > .o_extract_mixin_box:hover,
.o_extract_mixin_box_layer > .o_extract_mixin_box.highlighted {
    border-color: rgba(0, 0, 255, 0.8) !important;
}

.o_extract_mixin_box_layer > .o_extract_mixin_box.fadeout {
    transition: none;
    background-color: rgba(100, 200, 255, 0.8);
}

.o_extract_mixin_box_layer .highlight.begin  { border-radius: 4px 0 0 4px; }
.o_extract_mixin_box_layer .highlight.end    { border-radius: 0 4px 4px 0; }
.o_extract_mixin_box_layer .highlight.middle { border-radius: 0; }

.o_extract_mixin_box_layer ::selection { background: rgb(0, 0, 255); }

.o_extract_selection_box {
    position: fixed;
    pointer-events: none;
    border: 1px solid rgba(0, 123, 255, 1);
    background-color: rgba(0, 123, 255, 0.2);
}

.o_extract_mixin_box_layer > .o_extract_mixin_box_cluster {
    position: absolute;
    color: transparent;
    background-color: transparent;
    white-space: pre;
    border: 2px solid rgba(255, 127, 80, 0.4);
    border-radius: 2px;
}

.o_extract_mixin_box_layer:not(.is-selecting) > .o_extract_mixin_box_cluster:has(.o_extract_mixin_box_cluster_button:hover) {
    border-color: rgba(255, 127, 80, 1) !important;
}

.o_extract_mixin_box_cluster > .o_extract_mixin_box_cluster_button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    cursor: pointer;
    background-color: rgba(255, 127, 80, 0.6);
    border-radius: 4px 4px 0 0;
    opacity: 0;
    transform: translateY(-100%);
}

.o_extract_mixin_box_layer:not(.is-selecting) > .o_extract_mixin_box_cluster:hover > .o_extract_mixin_box_cluster_button,
.o_extract_mixin_box_layer:not(.is-selecting) > .o_extract_mixin_box_cluster > .o_extract_mixin_box_cluster_button.show-button {
    opacity: 1;
}
