.o_account_reports_groupby:focus {
    outline: none;
    opacity: 50%;
}

.o_account_reports_groupby_input {
    .o_input {
        width: 100%;
        min-width: 10ch;
        padding: 0 !important;
    }
}

.o_account_reports_groupby_input_small {
    .o_input {
        width: 0;
        min-width: 1ch;
    }
}
