body:not(.o_touch_device) {
    .o_partner_itinerary_row {
        .o_shift_itinerary_btn {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.15s ease-in-out;
        }
        &:hover,
        &:focus-within {
            .o_shift_itinerary_btn {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
