.o-dropdown-item-unstyled-button .o_widget_new_loan {
    flex-direction: column;

    .o_new_loan_upload {
        padding-bottom: var(--#{$prefix}dropdown-item-padding-y);
    }

    .o_new_loan_compute {
        padding-top: var(--#{$prefix}dropdown-item-padding-y);
        margin-left: 0;
    }
}

.o_widget_new_loan {
    display: flex;

    .o_new_loan_compute {
        margin-left: map-get($spacers, 1);
    }
}
