.o_merge_details_dialog {
    --Avatar-size: #{map-get($spacers, 3) * 2};

    @include media-breakpoint-up(md) {
        --Avatar-size: #{map-get($spacers, 5)};
    }

    .accordion {
        --#{$prefix}accordion-active-bg: #{$o-component-active-bg};
        --#{$prefix}accordion-active-color: #{$o-component-active-color};

        .accordion-button {
            &:not(.collapsed) {
                box-shadow: var(--#{$prefix}accordion-btn-focus-box-shadow);
            }

            &:focus-visible {
                --#{$prefix}accordion-border-color: #{$o-component-active-border};

                box-shadow: inset 0 0 0 1px var(--#{$prefix}accordion-border-color);
            }
        }

        .accordion-body {
            @include media-breakpoint-down(md) {
                .grid {
                    min-width: 135%;
                }
            }
            .btn:focus-visible {
                z-index: 1;
            }
        }
    }
}
