.o_appointment_index .o_ai_preview_cards > .o_ai_preview_card > [class*="col-"] {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.o_appointment_index .o_ai_preview_cards > .o_ai_preview_card > [class*="col-"] > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.o_appointment_index .o_ai_preview_cards .o_appointment_picture_item {
    flex: 1;
    min-height: 350px;

    .ratio {
        height: 100%;

        &::before {
            display: none;
        }
    }
}

.o_appointment_index .o_ai_preview_cards .o_appointment_message_intro {
    @include o-ai-preview-card-line-clamp(3);
}
