.o_form_view {
  .o_form_editable .o_address_format {
    .o_address_hk_estate {
      display: inline-block;
      width: 32%;
      margin-right: 8%;
    }

    .o_address_hk_building {
      display: inline-block;
      width: 32%;
      margin-right: 2%;
    }

    .o_address_hk_block {
      display: inline-block;
      width: 26%;
    }

    .o_address_hk_state {
        display: inline-block;
        width: 38%;
        margin-right: 2%;
    }

    .o_address_hk_district {
        display: inline-block;
        width: 38%;
    }

    .o_address_hk_floor {
        display: inline-block;
        width: 32%;
        margin-right: 8%;
    }

    .o_address_hk_flat {
        display: inline-block;
        width: 30%;
    }
  }
}
