// = Social
// ============================================================================
// No CSS hacks, variables overrides only

.o_social_comments_modal, .o_social_stream_post_kanban_global {
    --Social__likes-color--active: white;
    --Social__likes-color--hover: white;
    --Social__likes-background-color--active: #{rgba($o-enterprise-color, 0.9)};
    --Social__likes-background-color--hover: #{rgba($o-enterprise-color, 0.8)};
}

.o_social_post_calendar_view {
    .fc-event.bg-success .o_event_title,
    .fc-event.bg-info .o_event_title {
        color: black;
    }
}
