.o_column_progress {
    --progress-height: .8rem;
    --progress-border-radius: var(--border-radius-sm);

    transition: $transition-collapse;

    .progress-bar:where(:not(.progress-bar-animated)) {
        background-image: var(--gradient);
    }

    .bg-300 {
        --background-color: var(--400);
    }
}