.o_odoofin_account_selection {
    .card {
        &:hover:not(.disabled) {
            background: $o-action;
            .card-body {
                background: linear-gradient(to right, $card-bg, rgba($card-bg, .95));
            }
        }

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed !important;
        }
    }
}
