.o_dropdown_selection_badge_dropdown_item {
    min-height: 27px;
}

.o_dropdown_selection_badge .btn {
    font-size: 0.7rem;
    padding: 0 5px;
}

.o_dropdown_selection_badge_small .btn {
    font-size: 0.65rem;
    padding: 0 8px;
    min-width: 8ch !important;
    min-height: 2em !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
}
