.editor {
    --border-width: #{$border-width * 2};

    user-select: none;
    touch-action: none; // Touch screen support
    background-image: radial-gradient(var(--border-color) 1px, transparent 1px);

    .o-editor-controls {
        @include o-position-absolute($right: 0, $bottom: 0, $left: 0);
        z-index: 1;
    }
    .o-editor-zoomlevel {
        width: 3.75rem;
    }

    svg {
        @include o-position-absolute($top: 0, $left: 0);
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 0;
    }

    .o-editor-node {
        width: 250px;
        p {
            margin: 0;
        }
    }
    .o-editor-button {
        width: 1.75rem;
        height: 1.75rem;
    }

    .o_ma_step_icon {
        width: 2rem;
        height: 2rem;
        background-color: rgba($o-ma-step-flow-color, .12);
        color: $o-ma-step-flow-color;
        &.o_ma_step_communicate {
            background-color: rgba($o-ma-step-communicate-color, .12);
            color: $o-ma-step-communicate-color;
        }
        &.o_ma_step_action {
            background-color: rgba($o-ma-step-action-color, .12);
            color: $o-ma-step-action-color;
        }
    }

    .o-editor-flag,
    .o-editor-button,
    .o-editor-annotation,
    .o-editor-node {
        @include o-position-absolute($top: 0, $left: 0);
        transform-origin: top left;
        z-index: 1;
    }
}
