// Home menu in studio mode
.o_studio_home_menu {
  padding-bottom: $o-navbar-height;

  .database_expiration_panel {
    visibility: hidden;
  }

  .o_app {
    position: relative;

    &:hover,
    &:focus,
    &.o_focused {
      background-color: rgba(#fff, .25);
      outline: 1px solid #fff;
      outline-offset: -1px;
    }

    &.o_web_studio_new_app {
      cursor: pointer;
      outline: 2px dashed #fff;
      outline-offset: -1px;

      .o_app_icon {
        box-shadow: none;
      }
    }
  }
}
