
.o-public-dashboard {
  background-color: #DDDDDD;
}
.o-spreadsheet {
  height: 100%;
  flex-grow: 1;

  .o-topbar-toolbar .o-readonly-toolbar.text-muted {
      color: $info !important;
  }
}

header img {
  height: 32px;
}

.o-public-spreadsheet:has(.o-spreadsheet-print) {
  .o-public-spreadsheet-filter-button,
  .o-public-spreadsheet-filters {
    display: none !important;
  }
}

.o-spreadsheet {
  .o-figure-menu {
    display: none !important;
  }
  .o-carousel-menu-button {
    display: none !important;
  }
  .o-chart-menu {
    display: none !important;
  }
}
