.o-CallDebrief {
    &.o-CallDebrief--has-video-transcript {
        --CallDebrief-max-width: 100%;
        --CallDebrief__video-flex-basis: 50%;

        min-height: var(--CallDebrief__hasVideoTranscript-max-height, 500px);
    }

    &:fullscreen {
        --CallDebrief__video-flex-basis: 100%;
        --CallDebrief__transcript-display: none;
    }

    .o-CallDebrief-transcript:has(.o-CallDebrief-transcript-highlight) {
        p:not(.o-CallDebrief-transcript-highlight, .o_hovered) {
            opacity: .5;
        }
    }

    .o-CallDebrief-transcript {
        display: var(--CallDebrief__transcript-display, block);
        max-height: var(--CallDebrief__transcript-max-height, 56.25cqi);
        border-radius: var(--CallDebrief__transcript-border-radius, #{$border-radius $border-radius 0 0});
        padding: var(--CallDebrief__transcript-padding, #{map-get($spacers, 3)});
        scroll-behavior: smooth;
    }

    .o-CallDebrief-media-container--no-video {
        --CallDebrief__transcript-max-height: 300px;
    }

    .o-CallDebrief-transcript-timestamp {
        font-variant-numeric: tabular-nums;
    }

    @container callDebrief-field (min-width: #{map-get($grid-breakpoints, "lg")}) {
        &.o-CallDebrief--has-video-transcript {
            --CallDebrief__transcript-border-radius: #{0 $border-radius 0 0};
            --CallDebrief__mediaContainer-flex-direction: row;
            --CallDebrief__video-border-radius: #{$border-radius 0 0 0};
            --CallDebrief__video-border-right: 0;

            .o-CallDebrief-transcript {
                border-right: 0;
            }
        }
    }

    @container callDebrief-field (max-width: #{map-get($grid-breakpoints, "lg")}) {
        &.o-CallDebrief--has-video-transcript {
            --CallDebrief__transcript-border-radius: 0;
        }
    }
}

.o_cell:has(.o-CallDebrief) {
    @include media-breakpoint-down(md) {
        .o-CallDebrief-transcript {
            --#{$prefix}border-width: 0;
            --CallDebrief__transcript-padding: 0;
        }
    }
}
