.o_gantt_sidepanel{
    .o_gantt_unschedule_zone {
        height: stretch;
        min-height: 200px; // Fallback for firefox < 146
        border: 1px solid rgba($o-enterprise-action-color, 0.4);
        background-color: mix($o-enterprise-action-color, $o-view-background-color, 10%);
    }

    .o_event_to_schedule_handle {
        cursor: grab;
        color: #adb5bd;
        &:hover {
            color: #666666;
        }
    }

    .o_event_to_schedule_draggable {
        max-width: fit-content;
        &.o_dragged .o_event_to_schedule_handle {
            color: #666666;
        }
    }
}

.o_gantt_sidebar {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.o_gantt_sidepanel_resize {
    cursor: col-resize;
}

.o_content.o_interacting {
    .o_gantt_sidepanel_resize, .o_event_to_schedule_draggable span {
        cursor: inherit !important;
    }
}
