.o_gantt_popover {
    display: flex;
    flex-direction: column;
    max-height: var(--GanttPopover-max-height, 80vh);
    max-width: var(--GanttPopover-max-width, 400px);
    inline-size: var(--GanttPopover-inline-size, max-content);

    @include media-breakpoint-down(md) {
        height: 100%;
        border-radius: inherit;
        background: $popover-bg;
        z-index: 1;

        .o_popover:has(&) {
            $-margin-top: #{map-get($spacers, 5) * 3};

            --#{$prefix}popover-border-radius: #{map-get($spacers, 2)} #{map-get($spacers, 2)} 0 0;
            --GanttPopover-max-height: calc(100dvh - #{$-margin-top});
            --GanttPopover-max-width: auto;
            --GanttPopover-inline-size: auto;

            // !important is mandatory to override default popover positioning
            inset: 0 !important;
            margin-top: $-margin-top;

            &::before {
                content: '';
                position: absolute;
                inset: -50% 0 50% 0;
                display: block;
                background: rgba(0, 0, 0, 0.25);
                z-index: -1;
                pointer-events: none;
            }
        }
    }

    .o_popover_header {
        background-color: #{$popover-header-bg};
    }

    .o_card {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 0;
    }
}
