.s_appointments {
    .o_portal_address span[itemprop="name"] {
        margin: 0;
        font-weight: inherit;
    }

    .o_appointment_picture_item {
        --AppointmentMessage-line-clamp: 3;

        .o_appointment_message_intro {
            font {
                // This avoids readability issues when changing the color in the backend.
                background: none !important;
                color: $white !important;
            }
        }

        &:where(:not(:hover):not(:focus-visible)) .o_appointment_picture_item_head {
            transform: translate(0, 50%);
        }
    }

    .o_appointment_list_item {
        --DynamicSnippet__entry-maxWidth: auto;
        --AppointmentMessage-line-clamp: 2;

        .row {
            --gutter-x: #{map-get($spacers, 3) * 2};
        }

        > div {
            border: $border-width solid $border-color;

            &:hover {
                border-color: $primary;
            }
        }

        .o_list_item_gradient_img_filter {
            @include media-breakpoint-up(md) {
                mask-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .75));
            }

            @include media-breakpoint-down(md) {
                height: map-get($spacers, 5) * 4;
            }
        }
    }
}
