$colors: (
    0: #d0d0d0,
);
@include card-colors();
.o_pdis_orders {
    background: #41434b !important;
}
.o_pdis_navbar, .o_pdis_sidebar, .btn {
    background: #2c2d33;
}
.sidebar-btn {
    background: #4b4f5f !important;
}
.preset-name, .o_pdis_order_card_header_top_delivery, .o_pdis_order_card_header_top {
    color: black !important;
}
.o_pdis_categories .cursor-pointer:hover {
    background: #54566150;
}
.o_pdis_orderline, .o_pdis_order_card_header_bottom, .o_pdis_order_card_footer,
.o_preparation_display_orderline {
    background: #3e3f48 !important;
}
.text-bg-danger {
    background-color: #de5050 !important;
    color: #fff !important;
}
