.o_account-return-kanban {

    ._o_left_border_success {
        box-shadow: inset 5px 0 0 0 var(--success);
    }

    ._o_left_border_danger {
        box-shadow: inset 5px 0 0 0 var(--danger);
    }

    ._o_left_border_warning {
        box-shadow: inset 5px 0 0 0 var(--warning);
    }

    .o_kanban_record {
        &:focus-visible {
            outline: none;
            box-shadow: inset 0 0 0 3px var(--KanbanColumn__highlight-selected-border);
        }

        [data-icon="schedule"] {
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:hover [data-icon="schedule"] {
            opacity: 1;
        }
    }
}
