.o_pos_appointment_form_quick_create {
    .o_field_calendar_event_notes_html .note-editable {
        border: 1px solid $o-gray-300 !important;
    }

    .o_field_many2many_tags_resource .o_tags_input {
        width: 100%;
    }

    .o_outlined {
        /*
         * Increase the padding of the fields of the form for the quick
         * creation to make it easier to click on them on touchscreens.
         */
        padding: 0.5rem 0;
    }
}
