.knowledge_toc_panel {
    .o_view_nocontent_smiling_face:before {
        @extend %o-nocontent-init-image;
        width: 120px;
        height: 140px;
        background: transparent url(/knowledge/static/src/img/toc_helper.svg) no-repeat center;
        background-size: 100px;
    }

    .o_toc_row:hover {
        background-color: rgba($embedded-toc-bg--active, 0.2);
        text-decoration: none;
    }

    span[class*="o_toc_link_depth_"] {
        padding: map-get($spacers, 2);
    }

    @for $depth from 1 through 5 {
        span.o_toc_link_depth_#{$depth} {
            padding-left: calc(5px + Min(20px, 10%) * #{$depth});
        }
    }
}
