.o_widget_knowledge_side_panel {
    .o_FormRenderer_chatterContainer {
        li.nav-item {
            display: none;
        }
    }

    .o-mail-Chatter {
        margin-top: -#{map-get($spacers, 2)};
    }

    .o-mail-Chatter-top, .o-mail-Chatter-content {
        padding: 0;
    }
}
