// Don't display the alert message and loader when we are in the editor
body.editor_enable {
    .o_appointment {
        .alert.o_not_editable {
            display: none;
        }
        // Avoid the placeholder's opacity reduction making text too bright to see.
        .o_appointment_card_user_fct, .o_wappointment_card_user_dsc {
            .o_savable {
                &::before {
                    opacity: 1 !important;
                }
            }
        }
        // Make sure the intro field appears on edition, as it is not displayed if html-empty.
        + .o_appointment_intro {
            display: block !important;
        }
        .o_appointment_show_at_loading {
            display: none !important;
        }
        // Avoid flatten button due to having no content, and match inline 'Date' dropdown if present
        // 2rem: lh-lg, line-height is 2, with fs-6: 1rem font-size
        // .5rem: vertical padding from form-select-sm
        // 2*var(--border-width): horizontal borders
        button[name="entityDropdownBtn"]{
            height: calc(2rem + .5rem + 2*var(--border-width));
        }
    }
}
