.o_appointment_message_intro {
    max-height: 150px;
    --lines-clamp: 5;

    p:last-child {
        margin-bottom: 0;
    }
}

// Targetting the output of a t-field
.o_wappointment_card_user_dsc p {
    margin: 0;
}

.o_wappointment_card_staff_users {
    padding: 0 0 $card-spacer-x $card-spacer-y;
}

.o_wappointment_wrap, .o_appointment_index {
    .o_portal_address span[itemprop="name"] {
        margin: 0;
        font-weight: inherit;
    }
}

.o_appointment_index {
    .o_appointment_picture_item {
        .o_appointment_message_intro {
            --lines-clamp: 3;

            font {
                // This avoids readability issues when changing the color in the backend.
                background: none !important;
                color: $white !important;
            }
        }

        &:where(:not(:hover):not(:focus-visible)) .o_appointment_picture_item_head {
            transform: translate(0, 50%);
        }
    }
}

// Only show the top of the website footer instead of showing it right
// after the content. It helps reducing flickering as content keeps expanding
// up and down. calc also accounts for the menu bar.
.o_wappointment_wrap {
    min-height: calc(95vh - 70px);
}
