.o_web_studio_selector_icon_menu {
    width: 330px;
    max-height: 350px;
    overflow-y: auto;

    .o_we_file_selector_control_panel {
        background-color: $popover-bg;
        padding-top: map-get($spacers, 2);
        padding-bottom: map-get($spacers, 2);

        > div {
            max-width: none !important;
        }
    }

    .font-icons-icon {
        padding: .5rem !important;
        margin: .25rem !important;
    }
}
