.modal-dialog:has(.o_dmfa_employee_modal) {
    max-width: 90vw;
    width: 90vw;
}

.modal-content:has(.o_dmfa_employee_modal) {
    height: 85vh;
}

.modal-body:has(.o_dmfa_employee_modal) {
    overflow: auto;
}
