.o_appointment_index {
    .o_half_screen_height {
        min-height: 200px !important;
    }
    .o_appointment_svg {
        max-width: 400px;
    }
    .o_appointment_user_avatars {
        --border-radius: 1rem;
        color: black;
    }
    .o_appointment_list_item {
        --DynamicSnippet__entry-maxWidth: auto;
        .o_appointment_message_intro {
            --lines-clamp: 2;
        }
        .row {
            --gutter-x: #{map-get($spacers, 3) * 2};
        }
        > div {
            border: $border-width solid $border-color;
            &:hover {
                border-color: $primary;
            }
        }
    }
    .o_list_item_gradient_img_filter {
        @include media-breakpoint-up(md) {
            mask-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .75));
        }
        @include media-breakpoint-down(md) {
            height: map-get($spacers, 5) * 4;
        }
    }
}

.o_appointment_week {
    .o_today {
        & .o_day_wrapper::after {
            content: "";
            @include o-position-absolute($left: 50%);
            width: 2.5em;
            height: .16em;
            bottom: map-get($spacers, 1);
            transform: translateX(-50%);
            background-color: map-get($theme-colors, 'primary');
            border-radius: $border-radius-pill;
            transition: $btn-transition;
        }
    }
}

.o_appointment_month {
    min-height: 336px;
}

.o_appointment_add_to_calendar_btns a {
    border: 1px solid #DEE2E6;
    &:hover {
        background-color: $gray-200;
    }
}

.o_appointment_avatar_container {
    position: relative;

    .o_appointment_avatar_background {
        @include o-position-absolute(0, 0, 0, 0);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.o_appointment_validation_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: #{$h5-font-size * 2};
    height: #{$h5-font-size * 2};
}

.o_appointment_user_avatar {
    width: var(--Avatar-size, 2rem);
    height: var(--Avatar-size, 2rem);
    margin-left: -8px;
    border: 1px solid #fff;
    font-size: 12px;
    background-size: cover;
    &:first-child {
        margin-left: 0px;
    }
    &:only-child {
        margin-right: 0.5rem;
    }
}

.o_appointment_disable {
    pointer-events: none;
    opacity: 60%;
}

.o_appointment, .o_appointment_details_column {
    --Avatar-size: #{$font-size-base * 2};

    .o_avatar_large {
        --Avatar-size: #{$h5-font-size * 2};
    }
}

.o_appointment_btn {
    --#{$prefix}btn-hover-color: #{map-get($theme-colors, 'primary')};
    --#{$prefix}btn-bg: #{$body-bg};
    --#{$prefix}btn-hover-bg: #{$body-bg};
    --#{$prefix}btn-active-bg: #{$body-bg};

    &:hover, &.active {
        --#{$prefix}border-color: #{map-get($theme-colors, 'primary')};
    }

    &.active {
        --#{$prefix}btn-focus-box-shadow: 0 0 0 #{$btn-focus-width} RGBA(#{$btn-link-focus-shadow-rgb}, .5);

        outline: $border-width solid map-get($theme-colors, 'primary') !important;
        outline-offset: -2px;
    }
}

.o_appointment_entity_cards {
    max-height: 250px;
    scrollbar-width: thin;
    scrollbar-color: currentColor transparent;
}

@media (max-width: 768px) {
    .o_appointment_weekdays th,
    .o_appointment_week td,
    .o_day_wrapper {
        font-size: 14px;
        padding: 0px;
    }
    // Adapt month min height to new font-size. Prevent unwanted white space below
    // last week and allow consistent height when displaying no availability msg.
    .o_appointment_month {
        min-height: 329px;
    }
}

@media (max-width: 340px) {
    .o_appointment_weekdays th,
    .o_appointment_week td,
    .o_day_wrapper {
        font-size: 11px;
        padding: 0px;
    }
}

.o_appointment {
    &.o_appointment_info_loading {
        .o_appointment_disable_at_loading {
            pointer-events: none;
            opacity: 60%;
        }
        .o_appointment_hide_at_loading {
            display: none !important;
        }
    }
    &:not(.o_appointment_info_loading) {
        .o_appointment_show_at_loading {
            display: none !important;
        }
    }
    .o_js_calendar_navigate {
        --#{$prefix}border-color: transparent;
        &:hover, &.active {
            --#{$prefix}border-color: #{map-get($theme-colors, 'primary')};
        }
    }
    .o_appointment_calendar_dropdown_closed {
        #calendar_wrapper, .o_appointment_calendar_loader {
            display: none !important;
        }
    }
    .o_appointment_entity_selection_dropdown_closed {
        display: none !important;
    }
    .o_appointment_no_slot_overall_helper_svg {
        max-width: 250px;
    }
}
