#hr_cs_modal_wishlist{
    .modal-dialog{
        width: fit-content;
        overflow-y: scroll;
        .close {
            opacity: 1;
            background-color: white;
            border-color: white;
        }
    }
    .modal-content{
        max-height: fit-content !important;
    }
}

.vehicle_elements_label {
    color: var(--secondary-color) !important;
    font-size: .9em;
    display: block;
}
.vehicle_description_value {
    font-size: 1.2em;
}
