.o_dashboard {
    background-color: $o-control-panel-background-color;
}
.o_dashboard_card {
    $card-colors: (
        today: (
            bg: var(--DashboardCard__today-bg, #{$yellow-100}),
            bg-active: var(--DashboardCard__today-bg--active, #{$yellow-200}),
            color: var(--DashboardCard__today-color, #{$yellow-800}),
            color-active: var(
                    --DashboardCard__today-color--active,
                    #{$yellow-900}
                ),
        ),
        late: (
            bg: var(--DashboardCard__late-bg, #{$red-100}),
            bg-active: var(--DashboardCard__late-bg--active, #{$red-200}),
            color: var(--DashboardCard__late-color, #{$red-700}),
            color-active: var(--DashboardCard__late-color--active, #{$red-800}),
        ),
        pickups: (
            bg: var(--DashboardCard__pickups-bg, #{$purple-100}),
            bg-active: var(
                    --DashboardCard__pickups-bg--active,
                    #{$purple-200}
                ),
            color: var(--DashboardCard__pickups-color, #{$purple-700}),
            color-active: var(
                    --DashboardCard__pickups-color--active,
                    #{$purple-800}
                ),
        ),
        returns: (
            bg: var(--DashboardCard__returns-bg, #{$pink-100}),
            bg-active: var(
                    --DashboardCard__returns-bg--active,
                    #{$pink-200}
                ),
            color: var(--DashboardCard__returns-color, #{$pink-700}),
            color-active: var(
                    --DashboardCard__returns-color--active,
                    #{$pink-800}
                ),
        ),
        to_confirm: (
            bg: var(--DashboardCard__to-confirm-bg, #{$orange-100}),
            bg-active: var(
                    --DashboardCard__to-confirm-bg--active,
                    #{$orange-200}
                ),
            color: var(--DashboardCard__to-confirm-color, #{$orange-700}),
            color-active: var(
                    --DashboardCard__to-confirm-color--active,
                    #{$orange-800}
                ),
        ),
        to_invoice: (
            bg: var(--DashboardCard__to-invoice-bg, #{$cyan-100}),
            bg-active: var(--DashboardCard__to-invoice-bg--active, #{$cyan-200}),
            color: var(--DashboardCard__to-invoice-color, #{$cyan-700}),
            color-active: var(
                    --DashboardCard__to-invoice-color--active,
                    #{$cyan-800}
                ),
        ),
        empty: (
            bg: var(--DashboardCard__empty-bg, #{$gray-300}),
            bg-active: var(--DashboardCard__empty-bg--active, #{$gray-400}),
            color: var(--DashboardCard__empty-color, #{$gray-700}),
            color-active: var(--DashboardCard__empty-color--active, #{$gray-800}),
        ),
    );
    @each $name, $states in $card-colors {
        &.o_dashboard_card_#{$name} {
            --btn-bg: #{map-get($states, bg)};
            --btn-hover-bg: #{map-get($states, bg-active)};
            --btn-active-bg: #{map-get($states, bg-active)};
            --btn-border-color: transparent;
            --btn-active-border-color: transparent;
            .o_dashboard_card_data {
                color: #{map-get($states, color)};
            }
            &.active {
                outline: $border-width
                    $border-style
                    #{map-get($states, color-active)};
                outline-offset: $border-width;
                .o_dashboard_card_data {
                    color: #{map-get($states, color-active)};
                }
            }
        }
    }
}
