.o_dashboard_card {
    --DashboardCard__today-bg: #{$yellow-200};
    --DashboardCard__today-bg--active: #{$yellow-300};
    --DashboardCard__late-bg: #{$red-200};
    --DashboardCard__late-bg--active: #{$red-300};
    --DashboardCard__pickups-bg: #{$purple-200};
    --DashboardCard__pickups-bg--active: #{$purple-300};
    --DashboardCard__returns-bg: #{$pink-200};
    --DashboardCard__returns-bg--active: #{$pink-300};
    --DashboardCard__to-confirm-bg: #{$orange-200};
    --DashboardCard__to-confirm-bg--active: #{$orange-300};
    --DashboardCard__to-invoice-bg: #{$cyan-200};
    --DashboardCard__to-invoice-bg--active: #{$cyan-300};
    --DashboardCard__empty-bg: #{$gray-400};
    --DashboardCard__empty-bg--active: #{$gray-500};
}
